#header {
  text-align: left;
  padding: 10px;
  margin-left: 50px;

}

#logo {
  display: flex;

}

#clipart {
  display: flex;
  justify-content: center;
  width: 100px;
  height: auto;
}


#about {
  text-align: center;
}

.homeImage {
  background-image: url(./images/standardizedTestBook.jpeg);
  background-attachment: fixed ;
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-position: center;
}

#divHeader {
  text-align: right;
  padding: 40px;
  font-size: 75px;
  background-color: aliceblue;
}

#subheader {
  text-align: right;
  padding: 30px;
  background-color: antiquewhite;
}